body {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    background-color: #b6cef0;
}
.gridContainer {
    position: relative;
    width: 96%;
    height: 96%;
    margin: 2%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-template-rows: repeat(auto-fill, minmax(200px ,1fr));
    grid-gap: 10px 10px;

    grid-auto-rows: minmax(200px, 1fr);
}
.gridItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    transition: width 0.5s, height 0.5s;
}
.gridItem:hover {
    width: 95%;
    height: 95%;
    cursor: pointer;
}